.header {
    background-color: EEE9E9;
    color: #111;
    border-bottom: .5px solid #eee9e9;
  }

  .top-bar {
    display: flex;
    justify-content: right;
    padding: 0.5rem 2rem;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icons a {
    /* color: white; */
    color: black;
    text-decoration: none; 
    font-size: 1.5rem;
    transition: 0.2s;
  }
  
  .social-icons a:hover {
    color: #aaa;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  
  /* artist-name */
  .artist-name h2 {
    margin: 0;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
  }
  
  /* Nav links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav-links li a {
    color: #111;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .nav-links li a:hover {
    color: #aaa;
  }
  
  /* Button */
  .nav-button button {
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.2s;
  }
  
  .nav-button button:hover {
    background-color: #ddd;
  }