body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e1e;
}

.back-btn {
    /* marginBottom: '1rem'; */
    padding: '0.5rem 1rem';
    background: 'transparent';
    color: 'white';
    border: '1px solid white';
    /* borderRadius: '4px'; */
    cursor: 'pointer';
}

#root {
  height: 100vh;
  width: 100vw;
}

.app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.intro-text {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FFF;
  max-width: 300px;
  text-align: right;

}

.overlay-content {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  /* padding: 4rem 2rem; */
  padding-top: 50rem;
  padding-bottom: 3rem;
  text-align: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-bottom: 2em;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

.nav-links a:hover {
  color: #cccccc;
}

/* Make the entire container fill the viewport */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* full viewport height */
  background-color: #000; /* Or any background you like */
  position: relative;
}

/* Style the polaroid image */
.polaroid-image {
  position: absolute;
  width: 300px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s ease, box-shadow 0.6s ease-in-out;
  border-radius: 4px;
}

/* .polaroid-image.focused {
  z-index: 10;
  transform: scale(1.5) translateY(-20%);
  opacity: 1;
} */

.polaroid-image.piano {
  top: 2rem;
  left: 2rem;
}

.polaroid-image.baby {
  top: 26rem;
  left: 2rem;
}

.polaroid-image.hut {
  top: 4rem;
  left: 23rem;
}

.polaroid-image.graduation {
  top: 46rem;
  left: 23rem;
}

.polaroid-image.contact {
  top: 35rem;
  left: 40rem;
}

/* Hover effect for interactivity */
.polaroid-image:hover {
  transform: scale(1.05) rotate(-2deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768) {
  .polaroids {
    flex-direction: column;
    align-items: center;
  }
}