body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* Home image styling */
.full-screen-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.yawneazy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5rem;
  color: white;
  letter-spacing: 20px;
  z-index: 1; 
  text-align: center;
}

.coming-soon-msg {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  color: white;
  letter-spacing: 10px;
  z-index: 1; 
  text-align: center;
}