body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

.app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.full-screen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay-content {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  /* padding: 4rem 2rem; */
  padding-top: 50rem;
  padding-bottom: 3rem;
  text-align: center;
}

.yawneazy-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 10rem;
  color: white;
  letter-spacing: 40px;
  margin-bottom: 6rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-bottom: 2em;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

.nav-links a:hover {
  color: #cccccc;
}
